  
div.container {
  --h1: .25rem;
  --h2: -.25rem;
  --blur1: .5rem;
  --blur2: .5rem;
  --color-light: rgb(170, 177, 177);
  --color-dark: rgb(13, 23, 23);  
  
  
  background-color: #282c34;
  width: 70%;
  height: 500px;
  margin: 4rem auto 4rem auto;
  border-radius: 4px;

  box-shadow: var(--h1) var(--h1) var(--blur1) var(--color-dark), 
              var(--h2) var(--h2) var(--blur2) var(--color-light);

  display: grid;
  grid-template-columns: 20% auto;
}

div.workspace {
  margin: auto;
  text-align: center;
}

